.loading-container{
    height: 500px;
}
.loading-container .container{
    border-radius: 10px;
    height: fit-content;
    padding-bottom: 30px;

}
.loading-container .top{
    height: 5vh;
    background-color: whitesmoke;
}
.loading-container .loader{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}



